.Order-register {
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}
