.Delivery-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Delivery-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    width: 40rem;
    gap: 1rem;

    .search-input-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .Input-container {
      width: 65%;
    }
  }
}
