.container {
  height: 100%;
  padding: 4px;

  p {
    font-size: 1.25rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .order-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .order-detail-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 15rem;
        height: 15rem;
      }

      .detail-text {
        p {
          margin-bottom: 1.5rem;
        }
      }
    }

    .delivery-info {
      margin-bottom: 4.5rem;
    }
  }
}

@media (max-width: 950px) {
  .container {
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 650px) {
  .container {
    .order-detail-content {
      .order-detail-info {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        img {
          align-self: center;
          margin-bottom: 4rem;
        }
      }
    }
  }
}
